.outerBackground,
.outerBackground_buttonToGithub {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    transition: transform 0.3s ease;
    border-radius: 3px;
}

.outerBackground_buttonToGithub:hover {
    transform: scale(1.1);
}

.innerBackground {
    width: calc(100% - 100px);
}

.font1_10px {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-size: 10px;
    color: white;
}

.font1_20px {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
}

.font2_30px {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    text-align: center;
    font-size: 30px;
    color: white;
}

.containerForALine,
.containerForContacts {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    width: 49%;
    margin-left: 2%;
}

.sectionTitle {
    user-select: none;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
}

.containerForAllSection {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.5, 0.1, 0.5, 0.9);
}

.containerForAllSection.show {
    max-height: 300px;
}

.karel {
    scale: 0.5;
    position: absolute;
    transform-origin: center;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.5));
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
}